aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
attrs==25.3.0
beautifulsoup4==4.13.3
blinker==1.8.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.7
colorama==0.4.6
discord.py==2.5.2
distlib==0.3.8
et-xmlfile==1.1.0
filelock==3.15.4
Flask==3.0.3
frozenlist==1.7.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
keyboard==0.13.5
MarkupSafe==2.1.5
multidict==6.6.3
numpy==2.0.0
openpyxl==3.1.5
pandas==2.2.2
platformdirs==4.2.2
propcache==0.3.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
soupsieve==2.6
typing_extensions==4.13.2
tzdata==2024.1
urllib3==2.4.0
virtualenv==20.26.3
Werkzeug==3.0.3
yarl==1.20.1
